---
layout: single
author_profile: true
title: About
permalink: /about/
classes: wide
excerpt: "This post should [...]"
header:
  overlay_image: /assets/images/BUZ_4876.jpg
  overlay_filter: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 255, 255, 0.5))
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
  actions:
    - label: "Download"
      url: "https://github.com"
sidebar:
  nav: "docs"
gallery:
- url: /assets/images/BUZ_4876.jpg
  image_path: /assets/images/BUZ_4876.jpg
  alt: "placeholder image 1"
  title: "Image 1 title caption"
- url: /assets/images/BUZ_4876.jpg
  image_path: /assets/images/BUZ_4876.jpg
  alt: "placeholder image 2"
  title: "Image 2 title caption"
- url: /assets/images/BUZ_4876.jpg
  image_path: /assets/images/BUZ_4876.jpg
  alt: "placeholder image 3"
  title: "Image 3 title caption"
---

About content goes here.

<ul>
  <li>Test</li>
</ul>
<h1>Test</h1>
<h2>Test</h2>
<h3>Test</h3>
{% include video id="212731897" provider="vimeo" %}


{% include gallery caption="This is a sample gallery with **Markdown support**." %}

<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssss</p>
<p>sssssd</p>